<div class="container my-5">
  <h1 class="text-center mb-5">Welcome to the Property Manager Dashboard</h1>
  
  <div class="row">
    <div class="col-md-6">
      <div class="card border-dark mb-4">
        <div class="card-body text-dark">
          <h5 class="card-title">Total number of properties</h5>
          <p class="card-text display-4"><%= Property.count %></p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="card border-dark mb-4">
        <div class="card-body text-dark">
          <h5 class="card-title">Total number of properties by owner</h5>
          <ul class="list-group">
            <% User.all.each do |owner| %>
              <li class="list-group-item">
              <%= owner.username %>: <%= owner.own_properties.count %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="card border-dark mb-4">
        <div class="card-body text-dark">
          <h5 class="card-title">Total revenue generated from properties</h5>
          <p class="card-text display-4">$<%= number_with_delimiter(Property.sum(:rent)) %></p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="card border-dark mb-4">
        <div class="card-body text-dark">
          <h5 class="card-title">Number of vacant properties</h5>
          <p class="card-text display-4"><%= Property.where(tenant_name: nil).count %></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col text-center">
      <%= link_to 'Manage your properties', properties_path, class: 'btn btn-lg btn-outline-dark' %>
    </div>
  </div>
</div>
