<p id="notice"><%= notice %></p>

  <div class="col-md-4">
    <%= form_tag properties_path, method: :get, class: "form-inline" do %>
      <label for="owner_username" class="mr-2">Owner:</label>
      <%= select_tag "owner_username", options_for_select(User.pluck(:username)), prompt: "Select owner", class: "form-control mr-2", onchange: "this.form.submit();" %>
    <% end %>
  </div>
  
<div class="row mb-3">
  <div class="col-md-4">
    <%= form_tag properties_path, method: :get, class: "form-inline" do %>
      <label for="bedrooms" class="mr-2">Bedrooms:</label>
      <%= select_tag "bedrooms", options_for_select((1..10).map { |n| [n, n] }), prompt: "Select bedrooms", class: "form-control mr-2", onchange: "this.form.submit();" %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= form_tag properties_path, method: :get, class: "form-inline" do %>
      <label for="bathrooms" class="mr-2">Bathrooms:</label>
      <%= select_tag "bathrooms", options_for_select((1..5).map { |n| [n, n] }), prompt: "Select bathrooms", class: "form-control mr-2", onchange: "this.form.submit();" %>
    <% end %>
  </div>
</div>

<h1>Properties</h1>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Owner</th>
      <th>Address</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Rent</th>
      <th>Mortgage</th>
      <th>Tenant name</th>
      <th>Tenant phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= image_tag property.image %></td>
        <td><%= property.owner.username %></td>
        <td><%= property.address %></td>
        <td><%= property.bedrooms %></td>
        <td><%= property.bathrooms %></td>
        <td><%= property.rent %></td>
        <td><%= property.mortgage %></td>
        <td><%= property.tenant_name %></td>
        <td><%= property.tenant_phone %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<div style="padding-left: 20px;">
<%= link_to 'New Property', new_property_path, class: "btn btn-primary", style: "padding-left: 5px;" %>
</div>
